/* Reset default margin and font setup */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Code block font */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Ensure full height and width for app container */
/* index.css */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5; /* neutral background */
}




@keyframes slideUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0px); }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


